apiVersion: v1
kind: ReplicationController
metadata:
  labels:
    app: nginx_app
    type: front-end
  name: nginx-replicationcontroller
spec:
  replicas: 3
  selector:
      app: nginx_app
  template:
    metadata:
      labels:
        app: nginx_app
    spec:
      containers:
      - image: nginx:latest
        name: nginx-container