apiVersion: v1
kind: Service
metadata:
  labels:
    app: node-app
  name: node-app
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
    nodePort: 30012
  selector:
    app: node-app
  type: NodePort